@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(135deg, #ff0000, #630000);
    padding: 0 20px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
    margin: 0;
}

.logo {
    background-image: url(../img/Logo\ \(SVG\).svg);
    width: 150px;
    height: 150px;
    
}

.container {
    width: 900px;
    max-width: 900px;
    background: #ffffff;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 25px 60px rgba(0,0,0,0.25);
    transition: all .3s ease;
}


.header {
    margin-bottom: 25px;
}


.title {
    font-size: 28px;
    font-weight: 700;
    color: #0f172a;
    margin-bottom: 10px;
}


.inputs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}


.inputs_group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}


label {
    font-size: 13px;
    color: #475569;
    font-weight: 600;
}


input {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #cbd5e1;
    font-size: 16px;
    transition: 0.2s ease;
}


input:focus {
    outline: none;
    border-color: #ff0000;
}

.table_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


thead {
    background: #1e2223;
    color: white;
    transition: all .3s ease;
}


th {
    padding: 14px;
    font-size: 13px;
    letter-spacing: .5px;
}

.info {
    display: block;
    font-size: 13px;
    color: #d8d8d8;
    font-weight:300;
}


td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #e2e8f0;
    font-weight: 500;
}


tbody tr {
    transition: 0.15s;
}


tbody tr:hover {
    background: #f39447;
    transform: scale(1.01);
}


.best-option {
    background: #dcfce7 !important;
    font-weight: 700;
}


.currency {
    color: #1e2223;
    font-weight: 600;
}


@media (max-width: 600px) {
    .title {
    font-size: 22px;
    }
}