
.container {
    max-width: 900px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 6px;
}

.inputs {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

input {
    padding: 6px;
}